In [102]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Population - city, county, community

In [103]:
population = pd.read_csv('data/Ludność_miasta_gminy_5lat.csv', sep=';', index_col=  0)
population.head(5)

,Nazwa,gminy 2017,gminy 2018,gminy 2019,gminy 2020,gminy 2021,gminy mężczyźni 2017,gminy mężczyźni 2018,gminy mężczyźni 2019,gminy mężczyźni 2020,...,miasta mężczyźni 2018,miasta mężczyźni 2019,miasta mężczyźni 2020,miasta mężczyźni 2021,miasta kobiety 2017,miasta kobiety 2018,miasta kobiety 2019,miasta kobiety 2020,miasta kobiety 2021,Unnamed: 32
Kod,,,,,,,,,,,,,,,,,,,,,
0,POLSKA,25832456.0,25827776.0,25806074.0,25565275.0,25465719.0,12673891.0,12670970.0,12659911.0,12539669.0,...,5910916.0,5907141.0,5877493.0,5836502.0,6681818.0,6672456.0,6669361.0,6645796.0,6605483.0,NaN
200000,DOLNOŚLĄSKIE,1969944.0,1968751.0,1967527.0,1957106.0,1949604.0,959215.0,958701.0,958098.0,951615.0,...,436277.0,436537.0,446829.0,445482.0,496411.0,496197.0,496099.0,504443.0,502651.0,NaN
201000,Powiat bolesławiecki,90173.0,90200.0,90103.0,88524.0,88275.0,43804.0,43798.0,43739.0,42966.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
201011,Bolesławiec (1),39084.0,38935.0,38872.0,37659.0,37522.0,18432.0,18342.0,18301.0,17610.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
201022,Bolesławiec (2),14391.0,14626.0,14699.0,14967.0,15119.0,7143.0,7253.0,7299.0,7473.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [104]:
population.columns

Index(['Nazwa', 'gminy 2017', 'gminy 2018', 'gminy 2019', 'gminy 2020',
       'gminy 2021', 'gminy mężczyźni 2017', 'gminy mężczyźni 2018',
       'gminy mężczyźni 2019', 'gminy mężczyźni 2020', 'gminy mężczyźni 2021',
       'gminy kobiety 2017', 'gminy kobiety 2018', 'gminy kobiety 2019',
       'gminy kobiety 2020', 'gminy kobiety 2021', 'miasta 2017',
       'miasta 2018', 'miasta 2019', 'miasta 2020', 'miasta 2021',
       'miasta mężczyźni 2017', 'miasta mężczyźni 2018',
       'miasta mężczyźni 2019', 'miasta mężczyźni 2020',
       'miasta mężczyźni 2021', 'miasta kobiety 2017', 'miasta kobiety 2018',
       'miasta kobiety 2019', 'miasta kobiety 2020', ' miasta kobiety 2021',
       'Unnamed: 32'],
      dtype='object')

In [105]:
population.isnull().sum()

Nazwa                       0
gminy 2017                 93
gminy 2018                 79
gminy 2019                 60
gminy 2020                 52
gminy 2021                 32
gminy mężczyźni 2017       93
gminy mężczyźni 2018       79
gminy mężczyźni 2019       60
gminy mężczyźni 2020       52
gminy mężczyźni 2021       32
gminy kobiety 2017         93
gminy kobiety 2018         79
gminy kobiety 2019         60
gminy kobiety 2020         52
gminy kobiety 2021         32
miasta 2017                93
miasta 2018                79
miasta 2019                60
miasta 2020                52
miasta 2021                32
miasta mężczyźni 2017      93
miasta mężczyźni 2018      79
miasta mężczyźni 2019      60
miasta mężczyźni 2020      52
miasta mężczyźni 2021      32
miasta kobiety 2017        93
miasta kobiety 2018        79
miasta kobiety 2019        60
miasta kobiety 2020        52
 miasta kobiety 2021       32
Unnamed: 32              4228
dtype: int64

In [106]:
counties_cities_names = population[population['miasta 2021'].isnull() == False].Nazwa
community_names = population[population['gminy 2021'].isnull() == True].Nazwa

In [107]:
cities_names

Kod
0                        POLSKA
200000             DOLNOŚLĄSKIE
201000     Powiat bolesławiecki
201011          Bolesławiec (1)
201022          Bolesławiec (2)
                   ...
3261011            Koszalin (1)
3262000       Powiat m.Szczecin
3262011            Szczecin (1)
3263000    Powiat m.Świnoujście
3263011         Świnoujście (1)
Name: Nazwa, Length: 4196, dtype: object

In [108]:
community_names

Kod
224032     Kamieniec Ząbkowicki (2)
602062                    Goraj (2)
608052                 Kamionka (2)
612022        Józefów nad Wisłą (2)
804072                     Otyń (2)
1004062                  Piątek (2)
1018042                 Lututów (2)
1214022                 Koszyce (2)
1404042                 Sanniki (2)
1409062         Solec nad Wisłą (2)
1420042     Czerwińsk nad Wisłą (2)
1420112                Sochocin (2)
1437032                Lubowidz (2)
1438052                Wiskitki (2)
1609122                Tułowice (2)
1813022                Dubiecko (2)
2601032            Nowy Korczyn (2)
2601042                 Pacanów (2)
2601082                 Wiślica (2)
2602092               Wodzisław (2)
2603042               Opatowiec (2)
2604072                   Łagów (2)
2604132             Nowa Słupia (2)
2604152             Pierzchnica (2)
2605042               Radoszyce (2)
2609032               Klimontów (2)
2612032                Oleśnica (2)
2612082                 Szydłów (2)
2817082                Wielbark (2)
3001022                  Budzyń (2)
3007052                Koźminek (2)
3203042               Ostrowice (2)
Name: Nazwa, dtype: object

In [112]:
import regex

counties = []

for x in cities_names:
    if regex.search('Powiat', x):
        counties.append(x)
counties[:5]

['Powiat bolesławiecki',
 'Powiat dzierżoniowski',
 'Powiat głogowski',
 'Powiat górowski',
 'Powiat jaworski']

In [80]:
population[population['gminy 2021'].isna()][:8] # values are NaN beacuase they are not cities or weren't measured at that time

,Nazwa,gminy 2017,gminy 2018,gminy 2019,gminy 2020,gminy 2021,gminy mężczyźni 2017,gminy mężczyźni 2018,gminy mężczyźni 2019,gminy mężczyźni 2020,...,miasta mężczyźni 2018,miasta mężczyźni 2019,miasta mężczyźni 2020,miasta mężczyźni 2021,miasta kobiety 2017,miasta kobiety 2018,miasta kobiety 2019,miasta kobiety 2020,miasta kobiety 2021,Unnamed: 32
Kod,,,,,,,,,,,,,,,,,,,,,
224032,Kamieniec Ząbkowicki (2),8247.0,8182.0,8086.0,7703.0,NaN,4041.0,4012.0,3975.0,3765.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN
602062,Goraj (2),4137.0,4131.0,4097.0,3984.0,NaN,2061.0,2046.0,2019.0,1992.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN
608052,Kamionka (2),6455.0,6467.0,6485.0,6498.0,NaN,3129.0,3134.0,3138.0,3177.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN
612022,Józefów nad Wisłą (2),6666.0,NaN,NaN,NaN,NaN,3292.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
804072,Otyń (2),6953.0,NaN,NaN,NaN,NaN,3535.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1004062,Piątek (2),6094.0,6037.0,5982.0,NaN,NaN,3005.0,2985.0,2949.0,NaN,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
1018042,Lututów (2),4600.0,4598.0,4596.0,NaN,NaN,2278.0,2284.0,2280.0,NaN,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
1214022,Koszyce (2),5531.0,5508.0,NaN,NaN,NaN,2673.0,2665.0,NaN,NaN,...,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [81]:
population.fillna(0, inplace=True)

In [82]:
population.isnull().sum()

Nazwa                    0
gminy 2017               0
gminy 2018               0
gminy 2019               0
gminy 2020               0
gminy 2021               0
gminy mężczyźni 2017     0
gminy mężczyźni 2018     0
gminy mężczyźni 2019     0
gminy mężczyźni 2020     0
gminy mężczyźni 2021     0
gminy kobiety 2017       0
gminy kobiety 2018       0
gminy kobiety 2019       0
gminy kobiety 2020       0
gminy kobiety 2021       0
miasta 2017              0
miasta 2018              0
miasta 2019              0
miasta 2020              0
miasta 2021              0
miasta mężczyźni 2017    0
miasta mężczyźni 2018    0
miasta mężczyźni 2019    0
miasta mężczyźni 2020    0
miasta mężczyźni 2021    0
miasta kobiety 2017      0
miasta kobiety 2018      0
miasta kobiety 2019      0
miasta kobiety 2020      0
 miasta kobiety 2021     0
Unnamed: 32              0
dtype: int64

## Ceny produktów

In [120]:
prices = pd.read_csv('data/Przeciętne_ceny_produktów.csv', sep=';', index_col= 0)
prices.head(5)

,Nazwa,"Kod Nazwa ryż - za 1kg,2017","ryż - za 1kg,2018","ryż - za 1kg,2019","bułka pszenna - za 50g,2017","bułka pszenna - za 50g,2018","bułka pszenna - za 50g,2019","chleb pszenno-żytni - za 0,5kg,2017","chleb pszenno-żytni - za 0,5kg,2018","chleb pszenno-żytni - za 0,5kg,2019",...,grudzień pasta do zębów - za 100 ml cena 2017,grudzień pasta do zębów - za 100 ml cena 2018,grudzień pasta do zębów - za 100 ml cena 2019,grudzień wywóz śmieci segregowanych w budynkach wielorodzinnych - opłata od osoby cena 2017,grudzień wywóz śmieci segregowanych w budynkach wielorodzinnych - opłata od osoby cena 2018,grudzień wywóz śmieci segregowanych w budynkach wielorodzinnych - opłata od osoby cena 2019,grudzień wywóz śmieci niesegregowanych w budynkach wielorodzinnych -opłata od osoby cena 2017,grudzień wywóz śmieci niesegregowanych w budynkach wielorodzinnych -opłata od osoby cena 2018,grudzień wywóz śmieci niesegregowanych w budynkach wielorodzinnych -opłata od osoby cena 2019,Unnamed: 236
Kod,,,,,,,,,,,,,,,,,,,,,
200000,DOLNOŚLĄSKIE,"3,86","3,85","3,74","0,45","0,52","0,53","2,65","2,90","3,01",...,"9,38","8,93","9,65","12,47","12,59","16,27","18,97","19,12","27,49",NaN
400000,KUJAWSKO-POMORSKIE,"3,92","3,87","3,97","0,42","0,46","0,50","2,07","2,30","2,55",...,"10,09","9,96","11,37","11,06","11,49","13,69","23,15","24,00","29,10",NaN
600000,LUBELSKIE,"4,39","4,40","4,73","0,43","0,47","0,52","2,06","2,25","2,33",...,"9,10","9,15","11,04","10,04","10,33","13,63","16,68","17,68","25,58",NaN
800000,LUBUSKIE,"3,61","3,61","3,52","0,48","0,56","0,59","2,49","2,77","2,88",...,"7,69","8,62","10,57","10,28","11,52","14,38","16,91","19,16","24,00",NaN
1000000,ŁÓDZKIE,"3,56","3,58","3,81","0,36","0,42","0,41","2,30","2,51","2,63",...,"8,47","9,35","11,10","8,62","9,07","14,14","14,29","14,79","21,82",NaN

## Ocena sytuacji

In [119]:
subjective_judgment = pd.read_csv('data/subiektywna_ocena_sytuacji_5lat.csv', sep=';', index_col= 0)
subjective_judgment.head(5)

,Nazwa,"bardzo dobra,2017,[%]","bardzo dobra,2018,[%]","bardzo dobra,2019,[%]","bardzo dobra,2020,[%]","bardzo dobra,2021,[%]","dobra,2017,[%]","dobra,2018,[%]","dobra,2019,[%]","dobra,2020,[%]",...,"raczej zła,2018,[%]","raczej zła,2019,[%]","raczej zła,2020,[%]","raczej zła,2021,[%]","zła,2017,[%]","zła,2018,[%]","zła,2019,[%]","zła,2020,[%]","zła,2021,[%]",Unnamed: 32
Kod,,,,,,,,,,,,,,,,,,,,,
200000,DOLNOŚLĄSKIE,"15,4","23,7",NaN,NaN,NaN,NaN,NaN,"27,1","29,8",...,"6,2","5,6","4,1","4,0","3,2","2,4","1,7","1,2","1,3",NaN
400000,KUJAWSKO-POMORSKIE,"14,0","19,5",NaN,NaN,NaN,NaN,NaN,"22,1","17,5",...,"5,1","5,3","5,7","4,7","2,8","2,5","2,1","1,5","1,4",NaN
600000,LUBELSKIE,"10,3","12,7",NaN,NaN,NaN,NaN,NaN,"17,3","19,2",...,"8,3","7,2","6,7","4,3","2,6","2,4","1,9","1,1","1,2",NaN
800000,LUBUSKIE,"14,9","25,2",NaN,NaN,NaN,NaN,NaN,"25,8","28,1",...,"6,1","5,7","3,7","3,5","2,6","1,7","1,3","0,8","0,9",NaN
1000000,ŁÓDZKIE,"9,7","14,8",NaN,NaN,NaN,NaN,NaN,"14,9","17,4",...,"7,8","7,0","6,4","5,3","3,2","2,0","1,7","1,7","1,1",NaN

## Dochód

In [118]:
county_pay = pd.read_csv('data/średni_dochód_powiat_5lat.csv', sep=';', index_col= 0)
county_pay.head(5)

,Nazwa,2017,2018,2019,2020,2021,Unnamed: 7
Kod,,,,,,,
201000,Powiat bolesławiecki,"3901,94","4214,66","4545,34","4887,95","5461,94",NaN
202000,Powiat dzierżoniowski,"3825,15","4024,94","4484,28","4690,20","5127,97",NaN
203000,Powiat głogowski,"3918,42","4077,69","4427,98","4763,21","5171,28",NaN
204000,Powiat górowski,"3484,31","3815,89","3978,78","4432,40","4862,88",NaN
205000,Powiat jaworski,"3756,46","4029,64","4408,00","4932,98","5554,54",NaN

### Powiat

### Województwa

## Miesięczne spożycie

In [117]:
expenditure = pd.read_csv('data/Średnie_miesięczne_spożycie_produktów_spożywczych_5lat.csv', sep=';', index_col= 0)
expenditure.head(5)

,Nazwa,"pieczywo i produkty zbożowe,2017,[kg]","pieczywo i produkty zbożowe,2018,[kg]","pieczywo i produkty zbożowe,2019,[kg]","pieczywo i produkty zbożowe,2020,[kg]","pieczywo i produkty zbożowe,2021,[kg]","pieczywo,2017,[kg]","pieczywo,2018,[kg]","pieczywo,2019,[kg]","pieczywo,2020,[kg]",...,"ziemniaki,2018,[kg]","ziemniaki,2019,[kg]","ziemniaki,2020,[kg]","ziemniaki,2021,[kg]","cukier,2017,[kg]","cukier,2018,[kg]","cukier,2019,[kg]","cukier,2020,[kg]","cukier,2021,[kg]",Unnamed: 82
Kod,,,,,,,,,,,,,,,,,,,,,
200000,DOLNOŚLĄSKIE,"5,21","5,01","4,99","4,89","4,78","2,87","2,70","2,58","2,34",...,"2,51","2,39","2,42","2,30","0,86","0,78","0,69","0,73","0,61",NaN
400000,KUJAWSKO-POMORSKIE,"5,70","5,56","5,47","5,20","5,17","3,49","3,26","3,12","2,77",...,"3,33","2,89","2,54","2,68","0,94","0,97","0,79","0,82","0,74",NaN
600000,LUBELSKIE,"6,56","6,29","5,67","5,64","5,49","3,71","3,51","3,12","2,95",...,"3,72","3,31","2,94","2,75","1,26","1,37","0,98","1,03","0,90",NaN
800000,LUBUSKIE,"5,19","4,97","4,87","4,91","5,02","2,88","2,65","2,51","2,38",...,"2,78","2,72","2,66","2,54","0,81","0,77","0,74","0,81","0,73",NaN
1000000,ŁÓDZKIE,"6,06","5,65","5,61","5,51","5,33","3,59","3,27","3,16","2,84",...,"3,17","3,15","2,94","2,80","1,16","1,16","1,09","1,11","0,94",NaN